
CDP_PROXY_PORT=9994
CDP_PROXY_HOST=localhost
CDP_BROWSER_PORT=9222
CDP_BROWSER_HOST=localhost
CDP_BROWSER_DIRECTORY=.cache
CDP_BROWSER_VERSION= # enter a browser version here
CDP_BROWSER_EXECUTABLE_PATH=.cache/chrome-mac/MacOS/Chromium
# Control the logging verbosity level. Available options in order of increasing verbosity:
# - silent: No logs
# - error: Only errors
# - warn: Errors and warnings
# - info: Normal operational logs (default)
# - debug: Detailed debugging information
# - log: Standard logging level
# - verbose: Most detailed logging
CDP_PROXY_LOG_LEVEL=info